.card{
  border: 2px solid black;
  padding: 1em 0.5em;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  
}
.author{
  height: 100px;
  overflow: hidden;
  
  background-image: url("./img/img.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.card:hover{
  
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}
.title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1em;
}
.word{
  font-size: 16px;
  color: #111112;
  letter-spacing: 1em;
}
