
/*.cardLike{*/
/*  width: var(--iconSize);*/
/*  color: var(--hoverColor);*/
/*}*/
/*.cardClock{*/
/*  width: var(--iconSize);*/
/*  color: var(--hoverColor);*/
/*}*/

/*.cardTime{*/
/*  margin-left: 5px;*/
/*  font-size: 12px;*/
/*  */
/*}*/

/*.cardClockInfo{*/
/*  float: right;*/
/*  color: var(--hoverColor);*/
/*}*/


.cardImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  
}

/*.cardInfoHover{*/
/*  position: absolute;*/
/*  padding: 16px;*/
/*  width: 100%;*/
/*  top: 0;*/
/*}*/
.cardImgHover{
  background-image: url("./flexBoxExerciseCardBg.png");
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}



.card{
  --iconSize:18px;
  --hoverColor:red;
  border: 1px solid #500808;
  
  
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 300px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.cardInfo{
  z-index: 2;
  background-color: black;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
  color: white;
}

.cardCategory{
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.cardTitle{
  margin-top: 5px;
  margin-bottom: 10px;
}
.cardBy{
  font-size: 12px;
  font-weight: 500;
}
.cardAuthor{
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52;
}
.card:hover .cardImgHover {
  height: 100%;
  opacity: 0.3;
}




