.container{
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  background-color: var(--bg-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./bg.svg");
}
.content {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
