.desc {
  opacity: 0.8;
  font-size: 12px;
  letter-spacing: 1px;
  transition: opacity .2s ease-in-out;
}
.desc:hover{
  opacity: 1;
}
.hr{
  border-bottom: 1px solid blanchedalmond;
  margin: 4px 0;
}
.options{
  gap: 10px;
  display: flex;
}
