.desc {
  opacity: 0.8;
  font-size: 12px;
  letter-spacing: 1px;
  transition: opacity .2s ease-in-out;
}
.desc:hover{
  opacity: 1;
}
.hr{
  border-bottom: 2px solid blanchedalmond;
  border-radius: 2px;
  margin: 20px 0 10px 0;
}
.options{
  gap: 10px;
  display: flex;
}
.options>button {
  cursor: pointer;
  padding: 4px 6px;
  background-color: var(--article-button-bg-color);
  color: var(--font-color);
  border-radius: 8px;
}
