
@keyframes css-skeleton-loading {
 0% {
   background-position: 100% 50%;
 }
  100%{
    background-position: 0 50%;
  }
}
.iframe {
  --skeleton-color: rgba(0, 0, 0, 0.06);
  --skeleton-color-gradient-end: rgba(0, 0, 0, 0.15);
  --skeleton-gradient-from-color: rgba(0, 0, 0, 0.06);
  --skeleton-gradient-to-color: rgba(0, 0, 0, 0.15);
  
  background: linear-gradient(
    90deg,
    var(--skeleton-gradient-from-color) 25%,
    var(--skeleton-gradient-to-color) 37%,
    var(--skeleton-gradient-from-color) 63%
  );
  background-size: 400% 100%;
  animation-name: css-skeleton-loading;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
