.link {
  color: var(--font-color);
  transition: all .2s ease;
}
.link:hover{
  color: var(--link-hover-font-color);
}
.active {
  text-decoration: underline;
  text-decoration-color: var(--text-decoration-color);
  text-decoration-style: wavy;
}
