.container {
  max-width: 80%;
}
.header{
  display: flex;
  flex-direction: column;
}
.link {
  color: var(--post-title-link-color);
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  line-height: 1;
  letter-spacing:4px ;
  transition: text-shadow .2s ease-in-out;
}
.link:hover{
}
.title{

}
.introduction{
  color: var(--post-title-introduction-color);
  opacity: 0.7;
  font-size: 12px;
  font-style: italic;
  line-height: 2;
  letter-spacing: 2px;
}
.content {
  line-height: 2;
  text-align: justify;
  transition: text-shadow .2s ease-in-out;
  letter-spacing: 2px;
  font-variant-ligatures: no-common-ligatures;
  
}
.content:hover{

}
.keyword {
  font-weight: bold;
  text-shadow: 4px 4px 8px wheat;
  font-style: italic;
  font-size: 13px;
}
.keyword:hover{

}
